<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>關注動態</title> 

	@views.html.web.headerLibs()

</head>

<body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
	<div id="main-wrapper">
		<div id="main" class="container">
			<div class="row 200%">
				<div class="-2u 12u(mobile)">
					<!-- Blog -->
					<section class="box blog">
						<div class="row">
							<div class="9u 12u(mobile)">
								<div class="content content-center">
									<!-- Featured Post -->
									<article class="box post">
										<h4><a href="#">LMS 假人挑戰</a></h4>
										<a class="icon fa-clock-o">英雄聯盟(台灣) 2017/8/13 AM 10:53</a>
										<br>
										<span class="more">
											<p>LMS 假人挑戰之「看影片說故事大賽」
												看過英雄聯盟六周年特別企劃的假人挑戰影片了嗎？召喚師覺得這個影片是在講述一個什麼樣的劇情？戰隊們的肢體語言又隱藏了什麼樣的哏呢？</p>
										    <p>小張: 因為比賽的壓力太大 有些選手們承受不住 所以彼此間開始有言語和肢體上的衝突 眼看著爭執越演越烈身為守望者的巴德看不下去了 他使出了凝滯命域 讓大家停止動作靜下來好好思考一下 最後祝英雄聯盟6歲生日快樂</p>
										  	<p>Aoi Yeh ahq: 西門大將猜拳看誰上XD Ziv公證人 另外兩個 別別別打我!! 都是你在雷!!!安哥笑著看戲 綠茶跟夜夜我就不懂了</p>
										</span>
										<br>
										<button class="icon fa-comments">回覆</button>
									</article>
								</div>
							</div>
						</div>
						<div class="9u 12u(mobile)"><hr></div>
						<div class="row">
							<div class="9u 12u(mobile)">
								<div class="content content-center">
									<!-- Featured Post -->
									<article class="box post">
										<h4><a href="#">前端資源懶人包</a></h4>
										<a class="icon fa-clock-o">高雄前端社群 2016/6/22 AM 10:20</a>
										<br>
										<span class="more">
											<p>前端資源懶人包：http://goo.gl/eYS28w<br> 
											   Slack 聊天打屁：https://frontend-kaohsiung.herokuapp.com/<br>
											   活動行事曆：https://goo.gl/dLDCC8<br>
											   講師許願池：https://goo.gl/OiAatw</p>
										</span>
										<br>
										<button class="icon fa-comments">回覆</button>
									</article>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
