<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title></title>
	
	@views.html.web.headerLibs()
			
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
	<div id="main-wrapper">
		<div id="main" class="container">
			<div class="row 200%">
				<div class="-2u 12u(mobile)">
					<!-- Blog -->
					<section class="box blog">
						<div class="row">
							<div class="9u 12u(mobile)">
								<div class="content content-center">
									<!-- Featured Post -->
									<article class="box post">
										<h4><a href="#">關於Java</a></h4>
										<a class="icon fa-clock-o">阿星 2017/9/13 AM 10:53</a>
										<p>Java是一種廣泛使用的電腦程式設計語言，擁有跨平台、物件導向、泛型程式設計的特性，廣泛應用於企業級Web應用開發和行動應用開發。
											<br><a class="icon fa-comments">詳細內容</a>
										</p>
										<a class="icon fa-comments">回覆</a>
									</article>
								</div>
							</div>
						</div>
						<div class="9u 12u(mobile)"><hr></div>
						<div class="row">
							<div class="9u 12u(mobile)">
								<div class="content content-center">
									<!-- Featured Post -->
									<article class="box post">
										<h4><a href="#">關於JavaScript</a></h4>
										<a class="icon fa-clock-o">阿星 2017/7/13 AM 7:53</a>
										<p>
											介紹 JavaScript 的基本資料， 讓大家了解自己是否須要學習， 並為有志學習的初學者打好基礎。
										</p>
										<a class="icon fa-comments">回覆</a>
									</article>
								</div>
							</div>
						</div>
						<hr>
					</section>
				</div>
			</div>
		</div>
	</div>	
	
  </body>
</html>
