@* 
  Scala跟Java不同的地方在於
  集合裡的符號表示不太一樣
  Java  : ArrayList<Book>() 
  Scala : ArrayList[pojo.scala.Book]
  差異在一個是用大於小於，把指定的物件類型包起來
  Scala適用中括號，把指定物件包起來
  ---
  對應到pojp scala Book類別
*@
@(books : ArrayList[pojo.scala.Book]) 

@*
  這是 Scala 使用foreach迴圈的範例，意思是指，
  把List裏的books指定給book，印出每本書的內容
*@
@for(book <- books) {
  書名 	: @book.getName()<br>
  ISBN 	: @book.getIsbn()<hr>
} 
<br><br>
@*
  這是 Scala 使用for迴圈的範例
  指定一個變數名稱index，從0開始到總共有幾本書的長度
  這邊可以寫 books.length
  或者也可以寫成 books.size() 都是可以的
*@
@for(index <- 0 until books.length){
  書名 	: @books(index).getName()<br>
  ISBN 	: @books(index).getIsbn()<hr>
}