@(data:pojo.web.email.MemberChangeEmail)

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>修改信箱</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
	
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
	    <li class="tab active"><a>修改信箱</a></li>
      </ul>
      <div class="tab-content">
        <div id="Form" > 
          <form action="@controllers.routes.WebController.editPassword.url" method="post" id="editPasswordForm">
			<div class="field-wrap">
				<label class="lable-field-wrap">原本信箱</label>
				<input type="text" required autocomplete="off" name="originalEmail" value="@if(data!=null && data.getOriginalEmail()!=null){data.getOriginalEmail()}"/>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">尚未認證新信箱</label>
				<input type="text" required autocomplete="off" name="unAuthEmail"/>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">新信箱</label>
				<input type="email" required autocomplete="off" name="newEmail"/>
			</div>
			<a>
				<input type="submit" value="SUBMIT" class="button button-block">
			</a>
			</form>
        </div>
		</div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
	<script src='@routes.Assets.versioned("javascripts/loginSignup.js")'></script>
	<script>
		$( document ).ready(function() {
			document.getElementById("editPasswordForm").reset();
		});
	</script>
  </body>
</html>
