<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>編輯個人資料</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
	
	<style>	
	#headerPicPreview {
	   max-height: 300px;
   	   width: 250px;
	   width: 50%;
	   height: 50%;
	}
	</style>
	<script type ="application/javascript">
		$( document ).ready(function() {
			// 清除表單
			document.getElementById("editProfile").reset();
			
			// 一開始不顯示頭像
			$('#headerPicPreview').css('display','none');

			// 讀取登入與註冊JS
			$.getScript('@routes.Assets.versioned("javascripts/loginSignup.js")');

			// 讀取公用工具
			$.getScript('@routes.Assets.versioned("javascripts/webUtils.js")', function(){

				// 圖片觸發事件
				imgBlurHandler("#headerPicLink" , "#headerPicPreview");

 				// 使用者名稱觸發事件
				usernameBlurHandler("#username" , "#usernameVerifyMessage" , 
									"http://@request.host" + "@controllers.routes.WebController.ajaxCheckUsername.url?username="); 
							
				// 匿稱觸發事件
				nicknameBlurHandler("#nickname" , "#nicknameVerifyMessage" , 
									"http://@request.host" + "@controllers.routes.WebController.ajaxCheckNickname.url?nickname="); 
				
				// 手機號碼觸發事件
				cellphoneBlurHandler("#cellphone" , "#cellphoneVerifyMessage" , 
									 "http://@request.host" + "@controllers.routes.WebController.ajaxCheckCellphone.url?cellphone="); 
			});

		});		
			
	</script>
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
	    <li class="tab active"><a>編輯個人資料</a></li>
      </ul>
      <div class="tab-content">
        <div id="Form" > 
          <form action="@controllers.routes.WebController.editProfile.url" method="post" id="editProfile">
			<div class="field-wrap">
				<img src="" id="headerPicPreview"/>
				<label class="lable-field-wrap">頭像照片網址</label>
				<input type="text" required autocomplete="off" id="headerPicLink" name="headerPicLink"/>
				<span id="headerPicLinkVerifyMessage"></span>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">使用者名稱</label>
				<input type="text" required autocomplete="off" name="username" id="username"/>
				<span id="usernameVerifyMessage"></span>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">暱稱</label>
				<input type="text" required autocomplete="off" name="nickname" id="nickname"/>
				<span id="nicknameVerifyMessage"></span>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">手機號碼</label>
				<input type="text" required autocomplete="off" name="cellphone" id="cellphone"/>
				<span id="cellphoneVerifyMessage"></span>
			</div>
			<a>
				<input type="submit" value="SUBMIT" class="button button-block">
			</a>
			</form>
        </div>
		</div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
  </body>

</html>
