<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>忘記密碼</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
	
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_signup">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
	    <li class="tab active"><a>忘記密碼</a></li>
      </ul>
      <div class="tab-content">
        <div id="Form" >   
          <form action="@controllers.routes.WebController.login.url" method="post" id="forgotForm">
            <div class="field-wrap">
				<label class="lable-field-wrap">電子信箱</label>
				<input type="email" required autocomplete="off" name="email"/>
				@if(flash.containsKey("error")) {
					<span style="color:red;">@flash.get("errorMessage")</span>
				}
				@if(flash.containsKey("ok")) {
					<span style="color:green;">@flash.get("ok")</span>
				}
			</div>
 			 <ul><li>忘記密碼，請輸入當初申請註冊的電子信箱，我們將會寄送重設密碼信件給您!</li></ul>
			 <ul>
				<li class="home"><a href="@controllers.routes.WebController.index.url">回首頁</a></li>
				<li class="forgot"><a href="@controllers.routes.WebController.forgotPassword.url">忘記密碼?</a></li>
			 </ul>
			<a>
				<input type="submit" value="SUBMIT" class="button button-block">
			</a>
			</form>
        </div>
		</div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
	<script src='@routes.Assets.versioned("javascripts/loginSignup.js")'></script>
	<script>
		$( document ).ready(function() {
			document.getElementById("forgotForm").reset();
		});
	</script>
  </body>
</html>
