<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>登入</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
	
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
	    <li class="tab active"><a href="#">登入</a></li>
      </ul>
      <div class="tab-content">
        <div id="login" >   
          
          <form action="@controllers.routes.WebController.login.url" method="post" id="loginForm">
            <div class="field-wrap">
				<label class="lable-field-wrap">電子信箱</label>
				<input type="email" required autocomplete="off" name="email"/>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">密碼</label>
				<input type="password" required autocomplete="off" name="password"/>
				@if(flash.containsKey("errorLogin")) {
					<span style="color:red;">@flash.get("errorLogin")</span>
				}
				@if(flash.containsKey("ok")) {
					<span style="color:green;">@flash.get("ok")</span>
				}
			</div>
			<input type="hidden" name="role" value="MEMBER"/>
			 <ul>
				<li class="home"><a href="@controllers.routes.WebController.index.url">回首頁</a></li>
				<li class="forgot"><a href="@controllers.routes.WebController.forgotPassword.url">忘記密碼?</a></li>
			 </ul>
			<a>
				<input type="submit" value="Login" class="button button-block">
			</a>
			</form>
        </div>
		</div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
	<script src='@routes.Assets.versioned("javascripts/loginSignup.js")'></script>
	<script>
		$( document ).ready(function() {
			document.getElementById("loginForm").reset();
		});
	</script>
  </body>
</html>
