<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>寄送修改電子信箱</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
	
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_user">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#">寄送修改電子信箱</a></li>
      </ul>
      
      <div class="tab-content"> 
		<div id="signup">   
			<span>修改註冊信箱信件已寄出，請到新信箱進行收取信件，進行後續認證動作，謝謝。</span>
        </div> 
	  </div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
  </body>
</html>
