<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>註冊成功</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
	
  </head>

  <body>
	<div id="page-wrapper">
		<div id="select_nav_signup">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#">註冊成功</a></li>
      </ul>
      
      <div class="tab-content"> 
		<div id="signup">   
			<span>您已註冊成功，請至您申請的信箱，收取認證信件，認證有效時間為24小時內，謝謝。</span>
        </div> 
	  </div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
  </body>
  <script>
	$('#nav_signup').addClass('current');
  </script>
</html>
