<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>註冊</title>
	
	@views.html.web.headerLibs()
	
	@views.html.web.loginSignup.loginSignupLibs()
		
  </head>

  <body>
  	
	<div id="page-wrapper">
		<div id="select_nav_signup">@views.html.web.headerNav()</div>
	</div>
    <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">註冊</a></li>
      </ul>
      
      <div class="tab-content"> 
		<div id="signup">   
			<form action="@controllers.routes.WebController.goToSignup.url" method="post" id="signupForm">
			<div class="field-wrap">
				<label class="lable-field-wrap">使用者名稱</label>
				<input type="text" required autocomplete="off" name="username"/>
				@if(flash.containsKey("username")) {
					<span style="color:red;">@flash.get("username")</span>
				}
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">電子信箱</label>
				<input type="email" required autocomplete="off" name="email"/>
				@if(flash.containsKey("email")) {
					<span style="color:red;">@flash.get("email")</span>
				}
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">密碼</label>
				<input type="password" required autocomplete="off" name="password"/>
			</div>
			<div class="field-wrap">
				<label class="lable-field-wrap">確認密碼</label>
				<input type="password" required autocomplete="off" name="retypePassword"/>
				@if(flash.containsKey("password")) {
					<span style="color:red;">@flash.get("password")</span>
				}
				@if(flash.containsKey("signupError")) {
					<span style="color:red;">@flash.get("signupError")</span>
				}
			</div>
			<a>
				<input type="submit" value="Signup" class="button button-block">
			</a>
			</form>
          </div> 
		</div><!-- tab-content -->   
	</div> <!-- /form -->
	<div id="titleBar"></div>
	<script src='@routes.Assets.versioned("javascripts/loginSignup.js")'></script>
	<script>
		$('#signupForm')[0].reset();
		@if(flash.containsKey("errorForm")) {
			alert('@flash.get("errorForm")');
		}
	</script>
  </body>
</html>
