@import utils.session.Utils_Session; var utilsSession = new Utils_Session();


<!-- Nav -->
<nav id="nav">
	<ul>
		<li id="nav_index"><a href="@controllers.routes.WebController.index.url">首頁</a></li>
		<li id="nav_user">
			@if(utilsSession.isClinetHaveCookie(request)){
				<a href="@controllers.routes.WebController.userTimeLine(utilsSession.getUserName()).url">我的世界</a>
			} else {
				<a>我的世界</a>
			}
			<ul>
				@if(utilsSession.isClinetHaveCookie(request)){
					<li><a href="@controllers.routes.WebController.timeLine.url">關注動態</a></li>
					<li><a href="@controllers.routes.WebController.editPassword.url">修改密碼</a></li>
					<li><a href="@controllers.routes.WebController.editEmail.url">修改信箱</a></li>
					<li><a href="@controllers.routes.WebController.editProfile.url">編輯個人資料</a></li>
				} else {
					<li><a href="@controllers.routes.WebController.login.url">登入</a></li>
				}
				<li><a href="@controllers.routes.WebController.logout.url">登出</a></li>
			</ul>
		</li>
		<li id="nav_signup">
			<a href="@controllers.routes.WebController.signup.url">註冊</a>
			<ul>
				<li><a href="@controllers.routes.WebController.resendAuthEmail.url">重發認證信</a></li>
				<li><a href="@controllers.routes.WebController.forgotPassword.url">忘記密碼</a></li>
			</ul>
		</li>
	</ul>
</nav>
<script>
	<!-- 來偵測，外面的Div被誰使用到，而去增加class current屬性-->
	$(document).ready(function() {
	  if ( $('#select_nav_index').length ){
	  	$('#nav_index').addClass('current');
	  }
	  if ( $('#select_nav_user').length ){
	  	$('#nav_user').addClass('current');
	  }
	  if ( $('#select_nav_signup').length ){
	  	$('#nav_signup').addClass('current');
	  }
	});
</script>
<a href="index.html" id="logo">Star</a>

