<!-- JS lib-->
<script src="/assets/javascripts/jquery-3.1.0.min.js"></script>
<script src="/assets/javascripts/jquery.dropotron.min.js"></script>
<script src="/assets/javascripts/skel.min.js"></script>
<script src="/assets/javascripts/skel-viewport.min.js"></script>
<script src="/assets/javascripts/util.js"></script>
<script src="/assets/javascripts/main.js"></script>

<!-- 全域樣式 -->
<link rel="stylesheet" href="/assets/stylesheets/main.css" />
<link rel="stylesheet" href="/assets/stylesheets/normalize.css">
