<!DOCTYPE HTML>

<html>
<head>
<title>StarYourLife</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

@views.html.web.headerLibs()

</head>
<body class="homepage" >
	<div id="page-wrapper">
		<!-- Nav -->
		<div id="select_nav_index">@views.html.web.headerNav()</div>
		
		<!-- Banner -->
		<div>
			<section id="banner">
				<h2>躍動，每一刻的生活!</h2>
				<a href="#" class="button">開始分享!</a>
			</section>
		</div>

		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">
				<div class="row 200%">
					<div class="12u">

						<!-- Blog -->
						<section class="box blog">
							<h2 class="major">
								<span>最新公告</span>
							</h2>
							<div>
								<div class="row">
									<div class="9u 12u(mobile)">
										<div class="content content-left">

											<!-- Featured Post -->
											<article class="box post">
												<header>
													<h3>
														<a href="#">關於奇異博士</a>
													</h3>
													<p>作者:阿星</p>
													<ul class="meta">
														<li class="icon fa-clock-o">2016/9/13 PM 7:53 , 15
															minutes ago</li>
														<li class="icon fa-comments"><a href="#">8</a></li>
													</ul>
												</header>
												<p>奇異博士（英語：Doctor
													Strange，或稱為斯特蘭奇醫生）是一位出現在漫威漫畫中的超級英雄，擁有強大的魔法能力，是漫威世界中領頭級的一線英雄。
													在IGN的超級英雄票選中被選為第38名最受喜歡的角色[1]。</p>
												<button type="submit" >
													繼續閱讀
												</button>
											</article>

										</div>
									</div>
									<div class="3u 12u(mobile)">
										<div class="sidebar">

											<!-- Archives -->
											<ul class="divided">
												<li>
													<article class="box post-summary">
														<h3>
															<a href="#">A Subheading</a>
														</h3>
														<p>功能建置中~ 功能建置中~ 功能建置中~</p>
														<ul class="meta">
															<li class="icon fa-clock-o">6 hours ago</li>
															<li class="icon fa-comments"><a href="#">34</a></li>
														</ul>
													</article>
												</li>
											</ul>
											<button type="submit" >
												繼續閱讀
											</button>
										</div>
									</div>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer" class="container">
			<div class="row 200%">
				<div class="12u">

					<!-- About -->
					<section>
						<h2 class="major">
							<span>關於這網站?</span>
						</h2>
						<p>
							這是一個<strong>Star</strong>的社群網站
						</p>
					</section>

				</div>
			</div>
			<div class="row 200%">
				<div class="12u">

					<!-- Contact -->
					<section>
						<h2 class="major">
							<span>粉絲團</span>
						</h2>
						<ul class="contact">
							<li><a class="icon fa-facebook" href="#"><span
									class="label">Facebook</span></a></li>
							<li><a class="icon fa-twitter" href="#"><span
									class="label">Twitter</span></a></li>
							<li><a class="icon fa-instagram" href="#"><span
									class="label">Instagram</span></a></li>
							<li><a class="icon fa-dribbble" href="#"><span
									class="label">Dribbble</span></a></li>
							<li><a class="icon fa-google-plus" href="#"><span
									class="label">Google+</span></a></li>
						</ul>
					</section>

				</div>
			</div>

			<!-- Copyright -->
			<div id="copyright">
				<ul class="menu">
					<li>&copy; 2016 Star</li>
				</ul>
			</div>

		</footer>
	</div>
	<div id="titleBar"></div>
</body>
</html>